/*
Colors:
*/
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-white: #fff;
$color-gray-dark:#777;
$color-black: #111;

// Float Grid Layout

$float-width: 114rem;
$float-bg: #eee;
$float-gutt-h:6rem;
$float-gutt-v:8rem;
$float-row-bg: #a8abfb;