/*
Colors:
*/
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-white: #fff;
$color-gray-dark:#777;
$color-black: #111;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

// FONT
$default-font-size: 1.6rem;


// Float Grid Layout

$float-width: 114rem;
$float-bg: #eee;
$float-gutt-h:6rem;
$float-gutt-v:8rem;
$float-row-bg: #a8abfb;
// END Float Grid Layout