*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}
html{
	font-size: 62.5%; // 1rem = 10px/16px = 62.5


@include respond-to(tab-land){ // max-width 1200px
	font-size: 56.25%; // 1rem = 9px;
}
@include respond-to(tab-port){ // max-width 900px
	font-size: 50%; // 1rem = 8px
}
@include respond-to(pc){ // min-width 1800
	font-size: 75%; // 1rem = 12px
	}
}

body {

	box-sizing: border-box;
	padding: 3rem;

	@include respond-to(tab-port){
	padding: 0;
}
}